span {
  font-weight: 500;
}

.registration {
  width: 350px;
  margin: auto;
}

.registration__label {
  display: inline-block;
  position: relative;
  width: 100%;
}

.registration__input {
  width: calc(100% - 22px);
  border: 1px solid #d6d6d6;
  outline: none;
  border-radius: 3px;
  line-height: 36px;
  padding: 0 10px 0 10px;
  margin: 3px 0 5px 0;
  font-size: 16px;
  position: relative;
  z-index: 3;
}

.registration__input:focus {
  border: 1px solid #6db7f9;
}

.registration__label:first-child {
  width: 49%;
  margin-right: 2%;
}
.registration__label:nth-child(2) {
  width: 49%;
}

.registration__label__span {
  display: block;
  margin: 5px 0 5px 0;
  color: #858585;
  font-size: 12px;
  z-index: 1;
}

.registration__text {
  text-align: center;
  color: #525252;
}

.registration__footer {
  text-align: center;
}

.registration__footer__btn {
  margin: 10px 0 0 0;
  border: none;
  background: #1e81ff;
  color: white;
  border-radius: 3px;
  line-height: 36px;
  padding: 0 16px;
  outline: none;
}

.registration__footer__btn:focus {
  outline: 1px dotted grey;
}

.registration__footer__btn:hover {
  background: #42a6ff;
}
.registration__footer__btn:active {
  background: #1e81ff;
}

.drop-list {
  border-radius: 0px 0px 3px 3px;
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 63px;
  z-index: 2;
  background: white;
  width: calc(100% - 2px);
}

.drop-list__item {
  padding-left: 10px;
}

.drop-list__item:hover {
  background: #e0ebff;
}

.drop-list_country {
  position: absolute;
  display: inline-block;
  width: 60px;
  border-radius: 3px 0 0 3px;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 4;
}

.registration__input_country {
  display: inline-block;
  border-radius: 0 3px 3px 0;
  border-left: none;
  width: calc(100% - 82px);
  top: 0;
  left: 61px;
  margin: 0;
}

.drop-list__item_country {
  padding-left: 0px;
}

.drop-list_country__image {
  width: 30px;
  border: 1px solid #ededed;
  position: relative;
  top: 6px;
  left: 7px;
}

.drop-list_country__arrow {
  position: absolute;
  top: -14px;
  left: 44px;
  font-size: 35px;
  color: #d6d6d6;
}
